$primary-color-white:#F5F9FB;
$primary-color-white-low:#cecece;
$primary-color-white-biglow:#c0bebe;
$primary-color-dark:#171717;
$secondary-color-dark:#1C1C1C;
$secondary-color-dark-active: #2c2c2c;;
$primary-color-dark-green:#CBFE33;
$secondary-color-dark-green:#D4F552;
$secondary-color-dark-lowgreen:#CEEA6B;

$padding-link:10px 25px;
$padding-link-button:15px 10px;
$borderRadius-link-button: 30px;