@import '../../../sass/global.scss';
.container_menu {
  ul {
    display: flex;
    gap: 20px;
    list-style: none;
    a{
      color: $primary-color-white;
     
      padding: 10px 25px;
      border-radius: 40px;

      &:hover{
        background: $primary-color-dark-green;
        color: $primary-color-dark;
      }
    }
    .active{
      background: #2c2c2c;
    }
  }
}
